
*{
padding: 0;
margin: 0;
}

footer{
  padding: 20px;
  margin-top: auto;
  color: #ffffff;
  background-color:rgb(51, 47, 47);
  text-align: center;
  border-top: solid rgba(0, 0, 255, 0.712);
  clear: both;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 2;
  padding: 0;
  margin: 0;
  background-color: rgba(60, 70, 77, 0.288);
  background-size: cover;
  width: 100%;
  height: auto;
}

.navbar{
    border-bottom: solid rgba(38, 17, 228, 0.863);
   background-color:white
}
.body { 
  
    background-color: rgba(60, 70, 77, 0.288);
    background-size: cover;
    width: 100%;
    height: auto;
    
  }

  .banner{
    position: relative;}

.text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    background-color: rgba(0, 0, 255, 0.712)
  }
  
  img { 
    width: 60%;
    height: auto;
 
  }
  
   header .current a{
    color:#242422;
    font-weight: bold;
    
   }
   header a:hover{
    color: red;
    font-weight: bold;
  }

  p{
    margin-top: 100px;
    margin-right: 10px;
    text-align: justify;
    line-height: 2;
    margin-left: 10px;
  }
  .container{
    width: 60%;
    margin: auto;
    margin-bottom: 10px ;
    margin-top: 10px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
  }
  header a{
    color:  rgba(0, 0, 255, 0.712);
    text-decoration: none;
    font-size: 16px;  
    text-transform: uppercase;
  }
  

  
  
  
  